.App {
    text-align: center;
    display: flex;
    justify-content: center;
}

.home-container {
    width: 100%;
}

.background_img {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5%;
    background: rgb(113, 172, 196);
    color: white;
    width: 100%;
}

.navItems {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
}


.logout {
    display: flex;
}

.logoutBtn:hover {
    cursor: pointer;
    color: rgb(52, 63, 189);
    text-decoration: underline;
}

.navItem {
    color: white;
    text-decoration: none;
}

.navItem:hover {
    cursor: pointer;
    color: rgb(52, 63, 189);
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.formStyle {
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;

}

.question-list-container {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: rgb(113, 172, 196);
    padding: 10px;
    margin: 7px;
    width: 100%;
    background: rgb(113, 172, 196);
}

.question-author {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(100, 112, 250);
}

.question-date {
    font-size: small;
    color: #373737;
}

.question-button {
    font-size: small;
    color: rgb(113, 172, 196);
    background-color: white;
    border-color: rgb(113, 172, 196);
    border: solid 1px;
    border-radius: 10%;
}

.question-button:hover {
    color: white;
    background-color: rgb(113, 172, 196);
    border-color: rgb(113, 172, 196);
    border: solid 1px;
    cursor: pointer;
}

.question-list-title {
    font-size: larger;
        font-weight: bold;
        border-bottom: solid 1px rgb(113, 172, 196);
        border-color: rgb(113, 172, 196);
        color: rgb(100, 112, 250);
}

.Poll-Sub-Container {
    display: flex;
}

.Poll-Option {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 90px;
    margin-right: 20px;
    padding: 15px;
    border: solid 1px #aaaaaa;

}

.pollBtn {
    font-size: small;
    color: rgb(113, 172, 196);
    background-color: white;
    border-color: rgb(113, 172, 196);
    border: solid 1px;
    border-radius: 10%;
    width: 200px;
    text-align: center;
    margin-top: 8px;
    margin-left: 60px;
}

.pollBtn:hover {
    color: white;
    background-color: rgb(113, 172, 196);
    border-color: rgb(113, 172, 196);
    border: solid 1px;
    cursor: pointer;
}

